.generic-content-container {


  p, li{
    font-weight: 300;
    line-height: 1.65;
    margin: 0 0 1.8rem 0;

    @mixin atSmall {
      font-size: 1.325rem;
    }
  }
  li{line-height: 1.25;}

    @mixin atSmall {
      font-size: 1.325rem;}

  p a {
    font-weight: 700;
  }

}
