/*
edit this file only from the Templates folder under gulp tasks
*/

.icon{
  background-image: url('/assets/images/sprites/sprite-0116a9c2.svg');
}
.no-svg .icon{
  background-image: url('/assets/images/sprites/sprite-0116a9c2.png');
}
 .icon--comment{
   width:66px;
   height:66px;
   background-position: 28.106508875739646% 96.04%;
 }
 .icon--mail{
   width:66px;
   height:50px;
   background-position: 99.71005917159763% 0;
 }
 .icon--phone{
   width:47.5px;
   height:69.1px;
   background-position: 0 99.1124871001032%;
 }
 .icon--safe-child-council{
   width:168.51px;
   height:96.04px;
   background-position: 0 0;
 }
 .icon--star{
   width:66px;
   height:66px;
   background-position: 99.71005917159763% 50%;
 }
